.products_Container {
  margin: 100px 10px 80px 60px;
  box-sizing: border-box;
  padding: 10px;
}

.allProductsList_Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}